<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/socket.io/socket.io.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="/stylesheets/jquery.mobile-1.1.1.min.css" />
	<script src="/javascripts/jquery-1.7.1.min.js"></script>
	<script src="/javascripts/jquery.mobile-1.1.1.min.js"></script>
    <script src="/javascripts/underscore-min.js"></script>
    <script src="/javascripts/backbone-min.js"></script>   
	<script>
		var M={}, V={}, C={};
		var mapId = '<%=map.id%>';
		var map = <%-JSON.stringify(map)%>;
		
		var socket = io.connect();
		var user = null;
		var userId = null;
		var nameView = null;
		var userCollection = null;
		var pollUserInfoInterval =  null;
		
		socket.on('initUser', function (data) {
			initUser(JSON.parse(data));
		});
				
		socket.on('usersUpdate', function (data) {
			var users = JSON.parse(data);
			console.log("usersUpdate");

			for (uX in users) {
				console.log("updating user" + users[uX].id + " " + users[uX].name);
				userCollection.addUpdate(users[uX]);
			}
		});
		
		socket.on('userUpdate', function (data) {
			var user = JSON.parse(data);
			console.log("userUpdate"); 
			console.log("updating user" + user.id + " " + user.name);
			userCollection.addUpdate(user);
		});
		

		// make underscore js use {{ }}
		_.templateSettings = {
			interpolate : /\{\{(.+?)\}\}/g
		};

		// we should generate this server side
		function generateId() {
			var time = (new Date()).getTime();
			var rand = Math.floor((Math.random()*10000));
			return time.toString(16)+":"+rand.toString(16);
		}
	
		M.User = Backbone.Model.extend({
			initialize: function(){
			   this.on('change', 
					function(m) {
						//alert("change user" + m.id);
						return true;
					}, this);
			}
		});
		
		M.LocalUser = Backbone.Model.extend({
			initialize: function(){
			   this.on('change', 
					function(m) {
						this.emitUser();
						return true;
					}, this);
				this.writeCookie();
			},
			writeCookie: function() {
				setOMapCookie(this.get('name'), this.get('id'), mapId);
				return true;
			},
			emitUser: function() {
				setOMapCookie(this.get('name'), this.get('id'), mapId);
				console.log("userUpdate" + this.get('id'));
				socket.emit('userUpdate', {'user': this, 'mapId': mapId});
				return true;
			}
			
		});
	
		M.Users = Backbone.Collection.extend({
			model: M.User,
			addUpdate: function(m) {
				if (this.get(m.id) == undefined) { 
					this.add(m);
				} else {
					this.get(m.id).set(m);
				}
			}
		});
	
		V.NameLi = Backbone.View.extend({
			initialize: function() {
				this.model.bind('change', this.render, this);
				this.model.bind('destroy', this.remove, this);
			},
			
			tagName:  "li",
			
			render: function(event){
				var modelJson = this.model.toJSON();
				var templateNoPos = _.template( "{{name}}");
				var templateHasPos = _.template( "{{name}}, {{pos.coords.latitude}}, {{pos.coords.longitude}} {{pos.timestamp}}");
				
				if (modelJson.pos != undefined && modelJson.pos.coords != undefined) this.$el.html(templateHasPos(modelJson));
				else this.$el.html(templateNoPos(modelJson));
				
				return this;
			}
		});
	
		V.NameLis =  Backbone.View.extend({
			tagName: 'ul',

			events: {
				// only whole collection events (like table sorting)
				// each child view has it's own events
			},
			
			initialize: function()	{
				this.nameLiViews = {}; // view chache for further reuse
				//_(this).bindAll('add');
				this.collection.bind('add', this.render, this);
				this.collection.bind('change', this.render, this);
			},
			
			render: function()	{	
				var colView = this;
				this.collection.each(function (m) {
					var curLiV = null;
					if (colView.nameLiViews[m.id] == undefined) {
						colView.nameLiViews[m.id] = new V.NameLi({
							model: m
						});
						colView.$el.append(colView.nameLiViews[m.id].render().el);
					}  else {
						colView.nameLiViews[m.id].render();
					}
					
				});
				return this;
			}
		});
	
		V.Name = Backbone.View.extend({
			initialize: function() {
				this.model.bind('change', this.render, this);
			},
			
			render: function(event) {
				var template = _.template( "{{name}}");
				this.$el.html(template(this.model.toJSON()));
				return this;
			}
		});
	
		// just use View to update jqm object
		V.NameEdit = Backbone.View.extend({
			initialize: function() {
				this.model.bind('change', this.render, this);
			},
			
			events: {
				 "change":   "saveName",
			},
			
			render: function(event){
				this.$el.val(this.model.get("name"));
				return this;
			},
			
			saveName: function(event) {
				this.model.set({'name':this.$el.val()}); 
			}
		});

		function pollUserInfo() {
			var loc = null;
			if (navigator.geolocation) {
				console.log("pollUserInfo navigator.geolocation");
				loc = navigator.geolocation.getCurrentPosition( 
					function(pos) {
						console.log("inside getCurrentPositionCallBack");
						if (pos != null) {
							var coordsChanged = user.get("pos") == undefined || user.get("pos") == null || JSON.stringify(pos.coords) != JSON.stringify(user.get("pos").coords);
							if (coordsChanged) {
								user.set({'pos': pos});
							}
						}
						
					}, showError);
				console.log(loc);
			} 
		}
				
		function showError(error) {
			switch(error.code) {
				case error.PERMISSION_DENIED:
				alert("User denied the request for Geolocation.");
				break;
			case error.POSITION_UNAVAILABLE:
				alert("Location information is unavailable.");
				break;
			case error.TIMEOUT:
				alert("The request to get user location timed out.");
				break;
			case error.UNKNOWN_ERROR:
				alert("An unknown error occurred.");
				break;
			}
			console.log(error);
		}
		  
		function getCookie(c_name) {
			var i,x,y,ARRcookies=document.cookie.split(";");
			for (i=0;i<ARRcookies.length;i++) {
				x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
				y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
				x=x.replace(/^\s+|\s+$/g,"");
				if (x==c_name) {
					return unescape(y);
				}
			}
		}
		
		function setCookie(c_name,value,exdays) {
			var exdate=new Date();
			exdate.setDate(exdate.getDate() + exdays);
			var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
			document.cookie=c_name + "=" + c_value + ";path=/;";
		}
		
		function setOMapCookie(username, uId, mapId) {
			var cV = {};
			cV.username = username;
			cV.uId = uId;
			cV.mapId = mapId;
			setCookie('oMapV2', JSON.stringify(cV), 10000);
		}
		
		function getOMapCookie() {
			return getCookie('oMapV2');
		}
		
		function init() {
			var cookie = getOMapCookie();
			if (cookie) {
				var cV = JSON.parse(cookie);
				if (mapId == cV.mapId) userId = cV.uId;
			}
			userCollection = new M.Users();
			nameLiViews = new V.NameLis({collection: userCollection, el: $("#userColl")});
			console.log("initUser via server");
			socket.emit("initUser", {'mapId': mapId, 'id':userId});			
		}
		
		function initUser(u) {
			user = new M.LocalUser(u);
			nameView = new V.Name({model: user, el: $("#user")});
			nameEditView = new V.NameEdit({model: user, el: $("#editname")});
			nameView.render();
			nameEditView.render();
			pollUserInfoInterval = pollUserInfo();
			setInterval("pollUserInfo()",15000);
			
			socket.on('disconnect', function(data) {
				console.log('disconnected disconnected disconnected disconnected disconnected disconnected disconnected ');
				clearInterval(pollUserInfoInterval);
			});

			socket.on('connect', function(data) {
				console.log('connected connected connected connected connected connected connected ');
				pollUserInfoInterval = pollUserInfo();
				socket.emit("initUser", {'mapId': mapId, 'id':userId});
			});			
		}
				
		$(function() {
			init();
			$('#save-button').click( function () {
			console.log('here' + $('#mapIdEdit').val() + " " + mapId);
				if ( mapId != $('#mapIdEdit').val()) window.url = "/m" + $('#mapIdEdit').val();
			})
		});
		
	</script>
  </head>
  <body>
  
	<div id="index" data-role="page">
		<div data-role="content">	
			<p>Welcome to <%= title %></p>
			<ul id="userColl"></ul>
		</div>
		<div data-role="footer" data-position="fixed">
				<strong>MAP: <%=map.id%></strong>&nbsp;&nbsp;
				<strong>HANDLE: </strong> <span id="user">test</span> 
				<a href="#inputs" data-role="button" data-transition="slide" data-mini="true" data-inline="true" data-icon="gear">edit</a>
				<a href="#why" data-role="button" data-transition="slide" data-mini="true" data-inline="true" data-icon="info">Info</a>
		</div>
	</div>
	
	<div data-role="page" id="inputs">
		<div data-role="content">
			Change Map ID:
			<input name="mapIdEdit" data-mini="true" data-inline="true" id="mapIdEdit" value="<%=map.id%>" />
			<br />
			Choose a different id: 
			<input name="editname" data-mini="true" data-inline="true" id="editname" value="" />
			<a href="#" data-role="button" data-mini="true" data-inline="true" data-rel="back" id="save-button">Save</a>
		</div>
	</div>
	
	<div data-role="page" id="why">
		<div data-role="content">
			Where are you? It's a question the comes up often with my friends. Firing up Google Latitude 
			and other location apps worked great, that is when my friends had it installed....<br />
			<br />
			Using the CB radios of my youth as an inspiration, maybe just knowing the channel was enough to start communicating. 
			Just share the unique url (much like a channel) and browser will start communicating your location. <br />
			<br />
			<a href="#" data-role="button" data-mini="true" data-inline="true" data-rel="back" id="why-back-button">Back</a>
		</div>
	</div>
  </body>
</html>